/* style.css */
:root {
    --first-color: green;
    --second-color: #B8B6B6;
}
/* Gaya untuk preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Pastikan preloader di atas konten lainnya */
}

/* Gaya untuk spinner */
.spinner {
  border: 8px solid grey; /* Warna latar belakang spinner */
  border-top: 8px solid #3498db; /* Warna bagian yang berputar */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animasi spin */
}

/* Animasi untuk spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Sembunyikan konten utama sampai halaman selesai dimuat */
#content {
  display: none;
}
body {
    background-color: white;
    font-family: "poppins", serif;
}
/* navbar style */
.mynavbar {
    background-color: var(--second-color);
    color: white;
}
.navbar-brand {
    color: white;
    font-family: "poppins", serif;
    font-weight: 800;
}
.navbar-brand:hover {
    color: var(--first-color);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='0' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
/* Warna default ikon "X" */
.btn-close {
    filter: invert(100%); /* Mengubah ikon menjadi putih (default hitam) */
    opacity: 1; /* Pastikan ikon terlihat penuh */
}
.btn-close:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
.nav-link.active {
    border-bottom: 2px solid var(--first-color); /* Garis bawah abu-abu */
    color: var(--first-color) !important; /* Warna teks tetap terlihat */
    width: fit-content; /* tambahkan properti ini */
    content: "";
    left: 0;
    top: 2rem;
}
.navbar-nav {
    padding-right: 20px;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: var(--first-color);
}
.dropdown-menu {
    background-color: var(--first-color)
}
.dropdown-item {
    color: white
}
.dropdown-item:hover {
    background-color: #005A00;
    color: white; /* Warna teks saat hover */
}
.navbtn {
    margin-left: 15px;
    color: white;
    border-color: var(--first-color);
    background-color: var(--first-color);
}
.adminbtn {
  margin-left: 15px;
  color: white;
  border-color: #FFC107;
  background-color: #FFC107;
}
.adminbtn:hover {
  color: white;
  border-color: #ffca29;
  background-color: #ffca29;
}
.offcanvas-title {
    color: white;
    font-family: "poppins", serif;
    font-weight: 800;
}
.offcanvas {
    background-color: var(--second-color); /* Ganti dengan warna yang diinginkan */
}
.bodycontainer {
    display: flex;
    margin: 0px auto;
    max-width: 100%;
    padding: 0px;
    text-align: center;
    justify-content: center;
    flex-direction: column; /* Mengatur elemen vertikal */
    align-items: center; /* Menyelaraskan secara horizontal di tengah */
    gap: 0px;
}

/* main style */
.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.title {
    display: inline-block;
    background-color: var(--first-color);
    padding: 10px 10px;
    border-radius: 20px 0 20px 0;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.5rem;
    -webkit-border-radius: 20px 0 20px 0;
    -moz-border-radius: 20px 0 20px 0;
    -ms-border-radius: 20px 0 20px 0;
    -o-border-radius: 20px 0 20px 0;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
.subtitle {
    color: black;
    text-align: center;
    margin: 20px;
    font-size: 1rem; /* Ukuran default untuk layar kecil */
    line-height: 1; /* Menambahkan jarak antar baris untuk keterbacaan */
}
.mainimg {
    display: flex;
    justify-self: center;
}
.mainimg img {
    width: 400px;
    border-radius: 0.5rem;
}
/*styling footer*/
footer {
  margin-top: 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: var(--second-color);
  color: #e0d9d9;
  padding: 20px;
}

.footer-content, .footer-links, .social-media, .footer-bottom {
  font-family: 'poppins';
  margin-bottom: 15px;

}

footer .social-media a:hover {
  transform: scale(1.2); /* Animasi hover */
  transition: transform 0.3s ease;
}
/* ===== MEDIA QUERIES ===== */
@media (max-width: 480px) {
    /* Gaya khusus untuk layar kecil */
    .title {
      font-size: 0.8rem;
    }
    .subtitle {
      font-size: 0.7rem;
    }
    .mainimg img {
        width: 80vw; /* Ubah ukuran img menjadi 80% dari lebar layar */
        height: auto; /* Biarkan tinggi img menyesuaikan dengan lebar */
      }
  }
  @media (max-width: 767px) {
    /* Gaya khusus untuk mobile */
    .title{
      font-size: 0.8rem;
    }
    .offcanvas .btn {
      margin-bottom: 10px;
    }
    .navbtn {
      margin-top: 20px;
    }
  }
  @media (min-width: 768px) {
    /* Gaya khusus untuk layar tablet */
    .title {
      font-size: 1rem;
    }
    .subtitle {
      font-size: 0.9rem;
    }
    .mainimg img {
      width: 400px;
    }
  }
  
  @media (min-width: 992px) {
    /* Gaya khusus untuk layar desktop */
    .title {
      font-size: 1.2rem;
    }
    .subtitle {
      font-size: 1rem;
    }
    .mainimg img {
      width: 600px;
    }
  }
  
  @media (min-width: 1200px) {
    /* Gaya khusus untuk layar desktop besar */
    .title {
      font-size: 1.5rem;
    }
    .subtitle {
      font-size: 1.2rem;
    }
    .mainimg img {
      width: 800px;
    }
  }
  

